$mainbg: hsl(233, 47%, 7%);
$cardbg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);

$mainhs: hsl(0, 0%, 100%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$stathead: (0, 0%, 100%, 0.6);

$fs: 15px;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $mainbg;
    //min-height: 100%;
    font-size: 62.5%;

        .card {
            width: 1080px;
            //height: 100%;
            background-color: $cardbg;
            border-radius: 1.5em;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            
            .text {
                display: flex;
                flex-direction: column;
                color: $mainhs;
                padding: 7em;
                
                #title {
                    font-size: 3em;
                    margin-bottom: 1em;
                    #span1 {
                        color: $accent;
                    }
                }
                
                #paragraph {
                    color: $paragraph;
                    font-size: 1.9em;
                    margin-bottom: 2em;
                }
                
                #stats {
                    display: flex;
                    justify-content: space-between;
                    
                    .item {
                        .statsheading {
                            color: $mainhs;
                            font-size: 2em;
                            margin-bottom: 1em;
                        }
                        .namestat {
                            color: $stathead;
                            font-size: 1em;
                            text-transform: uppercase;
                        }
                    }
                    
                   
                    }
                    
                }
                
            }
            
            .image {
                margin: 0;
                padding: 0;
                //width: 100%;
            }
        }

        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }
        
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
