* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

body {
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
background-color: hsl(233, 47%, 7%);
}

.card {
    background-color: aqua;
    width: 70%;
}

.img {
    width: 100%;
    border: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }